// Custom styles.
//首页文章阴影样式
.post {
    margin-top: 0;
    margin-bottom: 60px;
    padding: 25px;
    -webkit-box-shadow: 0 0 14px rgba(28, 28, 28, .7);
    -moz-box-shadow: 0 0 14px rgba(202, 203, 204, .7);
}

.header-inner {
    padding-top: px;
    padding-bottom: 0px;
}

.posts-expand {
    padding-top: 80px;
}
.posts-expand .post-meta {
    margin: 5px 0px 0px 0px;
}

.back-to-top {
    line-height: 1.5;
    right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
