@media screen and (min-width:1080px) {

    body {
	    background-image:url(/images/backgrounds.png);
	    background-repeat: no-repeat;
	    background-attachment:fixed;
    }

    #footer a {
        color:#eee;
    }
}