// 主页文章添加阴影效果
.post {
	margin-bottom: 60px;
	padding: 25px;
	-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .7);
	-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .7);
}

@media screen and (min-width:1080px) {

    body {
	    background-image:url(/images/backgrounds.png);
	    background-repeat: no-repeat;
	    background-attachment:fixed;
    }

    #footer a {
        color:#eee;
    }
}